nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 0;
    color: aliceblue;
    height: 100px;
    width: 100%;
    z-index: 1;
    backdrop-filter: blur(5px);
}

nav img {
    width: 40px;
    margin: 0 10px;
}

nav a {
    text-decoration: none;
    color: aliceblue;
    display: flex;
    display: flex;
    align-items: center;
    /* margin: 0 50px; */
    margin-left: 25px;
    margin-right: 40px;
    font-size: 40px;
    font-family: Sedgwick;
}