body {
  margin: 0;
  font-family: OpenSans;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background: linear-gradient(137deg, #012627, #000505, #000); */
  background: #000;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

::selection {
  background: #11979750;
  /* WebKit/Blink Browsers*/
}

::-moz-selection {
  background: #11979750;
  /* Gecko Browsers */
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  /* box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); */
  background-color: rgba(0, 0, 0, 0);
  /* z-index: 10; */
}

::-webkit-scrollbar-thumb {
  background-color: rgb(0, 107, 131);
  border-radius: 10px;
  outline: none;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(0, 53, 65);
}

@font-face {
  font-family: 'Sedgwick';
  src: local('Sedgwick'), url(./fonts/Sedgwick.ttf) format('woff');
}
@font-face {
  font-family: 'OpenSans';
  src: local('OpenSans'), url(./fonts/OpenSans.ttf) format('woff');
}
@font-face {
  font-family: 'IndieFlower';
  src: local('IndieFlower'), url(./fonts/IndieFlower.ttf) format('woff');
}