body {
  margin: 0;
  font-family: OpenSans;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(137deg, #012627, #000505, #000);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
@font-face {
  font-family: 'Sedgwick';
  src: local('Sedgwick'), url(./fonts/Sedgwick.ttf) format('woff');
}
@font-face {
  font-family: 'OpenSans';
  src: local('OpenSans'), url(./fonts/OpenSans.ttf) format('woff');
}