.post{
    background: #1b27309e;
    margin-top: 20px;
    border-radius: 15px;
    display: flex;
    max-width: 730px;
    padding-bottom: 15px;
}
.postContent{
    width: 100%;
    margin-right: 30px;
}
.postHeader{
    display: flex;
    justify-content: space-between;
}
.postHeaderLeft{
    display: flex;
    justify-content: center;
    align-items: baseline;
    margin-right: 10px;
}
.post img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: white;
    margin: 25px 15px;
    
}
.postHeaderInfo{
    display: flex;
    flex-direction: column;
}
.postHeaderInfo h2{
    color: white;
}
.postHeaderInfo h5{
    color: #49545e;
    margin-top: -20px;
    font-size: 17px;
    font-weight: 500;
}
.postUserName{
    color: #49545e;
    margin-left: 10px;
    transform: translateY(-2px);
    font-weight: 500;
    font-size: 17px;
}
.postHeaderRight{
    color: white;
    font-size: 40px;
    margin-right: 5px;
}
.postBody{
    color: white;
    margin-top: -30px;
}
.postButtons{
    display: flex;
    justify-content: space-between;
}
.postButton{
    background: #2a3843;
    border: none;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    width: 170px;
    height: 50px;
    font-size: 16px;
    cursor: pointer;
}
.postButton svg{
    margin-right: 10px;
    font-size: 20px;
}
.shareButton{
    background: transparent;
    border: 1px solid #8c9aa8;
    padding: 10px 20px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}
