.post {
    background: #1b27309e;
    margin-top: 20px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    padding-bottom: 15px;
    width: 610px;
    padding: 0 20px;
}

.postHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    width: 100%;
}

.postHeaderLeft {
    display: flex;
}

.userDetail {
    display: flex;
    justify-content: center;
    align-items: baseline;
    flex-direction: column;
    margin-left: 15px;
}

.post img {
    width: 50px;
    height: 50px;
    border-radius: 35%;
    object-fit: cover;
}

.postUserName {
    color: #49545e;
    margin: 0;
    margin-left: 10px;
    transform: translateY(-2px);
    font-weight: 500;
    font-size: 17px;
}

.postHeaderInfo {
    display: flex;
    align-items: baseline;
}
.postTopHeaderInfo {
    display: flex;
    align-items: flex-start;
}
.postTopHeaderInfo svg{
    font-size: 20px;
    margin-left: 10px;
    color: #00f1dd;
}

.postHeaderInfo h2 {
    color: white;
    font-size: 20px;
    font-weight: 500;
    margin: 0;
    margin-left: 10px;
}

.postHeaderInfo h5, .postHeaderInfo h4 {
    color: #54cccd;
    font-size: 15px;
    font-weight: 500;
    margin: 0;
    margin-left: 10px;
}
.postHeaderInfo h4 {
    color: #cadbec;
}

.postHeaderRight {
    color: white;
    font-size: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.postHeaderRight span {
    display: flex;
    justify-content: flex-end;
    rotate: 90deg;
    border-radius: 50%;
    padding: 5px 7px;
    cursor: pointer;
}

.postHeaderRight span:hover {
    background: #2a3843;
}

.postBody p {
    color: white;
    margin: 0;

}

.postImages {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.postImages img {
    width: auto;
    height: auto;
    max-height: 300px;
    max-width: 600px;
    margin: 0;
    border-radius: 25px;
    object-fit: contain;
    background: none;
}
.menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    top: 80px;
    right: 40px;
    overflow: hidden;
    box-shadow: 0px 6px 11px 0px #c2d5d554;
    border: 1px solid #c2d5d58c;
    position: absolute;
    transform: translate(30px, -75px);
}
.menu button{
    font-size: 1rem;
    font-family: OpenSans;
    color: #cadbec;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
    margin: 0;
    width: 250px;
    cursor: pointer;
    overflow: hidden;
    background: #000;
    border: none;
    transition: 0.3s;
}
#menuWarn{
    color: red;
}
.menu button:hover{
    scale: 1.1;
}
.postStats {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin-top: 20px; */
    padding: 20px 20px;
}
.postStatsLeft, .postStatsRight {
    display: flex;
    align-items: center;
}
.postStatsLeft span, .postStatsRight span {
    display: flex;
    align-items: center;
    margin-right: 5px;
    color: #cadbec;
}