.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(137deg, #012627, #000505, #000);
    overflow: hidden;
}

.imgcontainer {
    width: 100vw;
    height: 100vh;
}

.imgcontainer img {
    width: 60%;
    position: absolute;
    bottom: -47%;
    left: -25%;
    scale: 1.7 1.3;
    animation: animate 10s ease-in-out infinite;
}

.imgcontainer img:nth-child(2) {
    width: 60%;
    position: absolute;
    width: 60%;
    left: 60%;
    scale: 1.7 1.4;
    transform: translateY(80px);
    animation: animate 10s ease-in-out infinite;
    animation-delay: 2s;
}

.subcontainer {
    /* backdrop-filter: blur(10px); */
    filter: blur(60px);
}

@keyframes animate {

    0%,
    5%,
    95%,
    100% {
        scale: 1.5 0.8;
    }

    45%,
    50% {
        scale: 2.3 1.5;
    }
}

.formContainer {
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.branding {
    width: 30%;
    font-size: 40px;
    color: aliceblue;
}

nav {
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    color: aliceblue;
    height: 80px;
    width: 100%;
    z-index: 1;
}

nav a {
    text-decoration: none;
    color: aliceblue;
    display: flex;
    display: flex;
    align-items: center;
    margin: 0 50px;
    font-size: 40px;
    font-family: Sedgwick;
}

nav img {
    width: 55px;
    margin: 0 10px;
}

.form {
    background: rgba(153, 145, 145, 0.118);
    display: flex;
    flex-direction: column;
    width: 400px;
    height: auto;
    padding: 30px 80px;
    border-radius: 30px;
}

.form h1 {
    text-align: center;
    font-size: 30px;
    color: aliceblue;
    margin-top: 0;
    font-weight: 400;
}

.inputContainer {
    display: flex;
    align-items: center;
    margin: 10px 0;
    border: 1px solid rgb(85, 84, 84);
    border-radius: 10px;
    padding-left: 20px;
    height: 60px;
}

.inputContainer:focus-within {
    border: 1px solid rgb(0, 225, 255);
}

.inputContainer input {
    width: 100%;
    height: 55px;
    border: none;
    outline: none;
    font-size: 20px;
    padding: 0 10px;
    background: transparent;
    color: aliceblue;

}

.inputContainer input::placeholder {
    color: rgb(130, 130, 130);
}

.form button {
    border: none;
    outline: none;
    border-radius: 10px;
    margin: 15px 0;
    font-size: 20px;
    padding: 15px 10px;
    background: rgb(0, 225, 255);
    color: black;
}

.form button:disabled {
    background: rgb(22, 149, 166);
    color: black;
    cursor: pointer;
    cursor: not-allowed;
}

@keyframes btnanination {

    0%,
    100% {
        transform: scale(1);
    }

    33% {
        transform: scale(1.2);
    }

    66% {
        transform: scale(0.8);
    }
}

.form button:not(:disabled):hover {
    background: rgb(0, 241, 221);
    transition: all 0.5s ease;
}

.icon {
    font-size: 30px;
    color: aliceblue;
}

.form p {
    text-align: center;
    color: gray;
    font-size: 18px;
    margin: 0;
}

.form p a {
    color: rgb(0, 225, 255);
    text-decoration: none;
}

.form p a:hover {
    color: rgb(0, 241, 221);
    transition: all 0.5s ease;
}