.container{
    /* margin: 10px 80px; */
    margin: 10px 35px;
    display: flex;
    /* justify-content: center; */
    justify-content: space-between;
    flex-wrap: wrap;
}
.post{
    /* margin: 0 30px; */
    /* width: 650px; */
    /* background-color: red; */
  }