.commentFormBack{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #000000c4;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.commentForm{
    background: #101b22dc;
    border-radius: 20px;
    padding: 0 20px;
    width: 610px;
    max-height: 80vh;
    overflow-y: auto;
}
.commentFormHeader{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    border-bottom: 1px solid #0081818c;
}
.commentFormHeader h2{
    color: #cadbec;
    font-size: 1.3rem;
    font-family: OpenSans;
    margin: 0;
}
.commentFormBody{
    display: flex;
    align-items: flex-start;
    width: 100%;
    margin-top: 40px;
}
.commentText{
    width: inherit;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.commentText textarea{
    width: 95%;
    border: none;
    margin-left: 10px;
    background: transparent;
    border-bottom: 1px solid #00f1dd;
    color: #cadbec;
    font-size: 1rem;
    font-family: OpenSans;
    overflow: hidden;
    resize: none;
}
.commentText textarea:focus{
    outline: 0;
}
.commentBody textarea{
    width: 500px;
}
.lengthCont{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: flex-end;
}
.lengthCont span{
    color: #cadbec;
    font-size: 0.9rem;
    font-family: OpenSans;
    margin: 0;
    margin-left: 25px;
    font-weight: 500;
}
.buttons{
    display: flex;
    align-items: center;
    height: 25px;
    padding-top: 25px;
}
.buttons button{
    background: transparent;
    transition: all 0.5s ease;
    color: rgb(0, 225, 255);
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.buttons > button:hover{
    color: rgb(0, 241, 221);
    scale: 1.2;
}
.button {
    position: relative;
    overflow: hidden;
    width: auto;
    height: 100%;
    border-radius: 10px;
    margin-right: 10px;
    padding: 4px;
    background: rgb(0, 225, 255);
    transition: all 0.5s ease;
    display: flex;
    margin-left: 30px;
}
.button button{
    color: black;
    background: #00e1ff;
}
.button:hover button:not(:disabled), .button:not(:has(button:disabled)):hover{
    color: #000;
    background: #00f1dd;
}
.button button:disabled, .button:has(button:disabled){
    cursor:not-allowed;
}
.button:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 70px;
    top: -35%;
    left: 0%;
    z-index: -1;
    background: linear-gradient(#15ff00,#ff8000, transparent);
    clip-path: polygon(50% 50%, 0% 0%, 0% 100%);
    animation: rotateDiv 5s linear infinite;
}
@keyframes rotateDiv {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
.commentList{
    margin-top: 20px;
    padding-bottom: 20px;
}

.default{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #cadbec;
    font-size: 1.4rem;
    font-weight: bold;
    margin-top: 20px;
}

.commentCont {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 30px 0;
}

.commentLeft {
    display: flex;
}

.userDetail {
    display: flex;
    justify-content: center;
    align-items: baseline;
    flex-direction: column;
    margin-left: 15px;
}
.commentUserName {
    color: #49545e;
    margin: 0;
    margin-left: 10px;
    transform: translateY(-2px);
    font-weight: 500;
    font-size: 17px;
}

.commentHeader {
    display: flex;
    align-items: flex-start;
}
.commentHeader svg{
    font-size: 20px;
    margin-left: 10px;
    color: #00f1dd;
}

.commentHeader h6, .commentHeader h4 {
    color: #54cccd;
    font-size: 15px;
    font-weight: 500;
    margin: 0;
    margin-left: 10px;
}
.commentHeader h4 {
    color: #cadbec;
}

.commentRight {
    color: white;
    font-size: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.commentRight span {
    display: flex;
    justify-content: flex-end;
    rotate: 90deg;
    border-radius: 50%;
    padding: 5px 7px;
    cursor: pointer;
}

.commentRight span:hover {
    background: #2a3843;
}
.commentBody{
    display: flex;
    width: 100%;
}

.commentBody p {
    color: #cadbec;
    margin: 0;
    overflow-wrap: anywhere;
    margin-left: 10px;

}
.menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    top: 80px;
    right: 40px;
    overflow: hidden;
    box-shadow: 0px 6px 11px 0px #c2d5d554;
    border: 1px solid #c2d5d58c;
    position: absolute;
    transform: translate(30px, -75px);
}
.menu button{
    font-size: 1rem;
    font-family: OpenSans;
    color: #cadbec;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
    margin: 0;
    width: 250px;
    cursor: pointer;
    overflow: hidden;
    background: #000;
    border: none;
    transition: 0.3s;
}
#menuWarn{
    color: red;
}
.menu button:hover{
    scale: 1.1;
}