.cont{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 650px;
    border-radius: 20px;
    overflow: hidden;
    background-color: #1b27309e;
}
.banner{
    width: 100%;
}
.banner img{
    max-height: 165px;
    width: 100%;
    object-fit: cover;
}
.profile{
    display: flex;
    align-items: center;
    justify-content:space-evenly;
}
.profileImage{
    border-radius: 35%;
    margin-top: -70px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    overflow: hidden;
    backdrop-filter: blur(5px);
    border: 2px solid #000;
}
.profileImage img{
    width: 120px;
    height: 120px;
    object-fit: cover;
}
.profileInfo{
    text-align: center;
    font-size: 20px;
}
.profileInfo h3{
    color: white;
    margin-top: 10px;
    font-size: 20px;
}
.profileInfo h4{
    color: #49545e;
    margin-top: -10px;
    margin-bottom: 0px;
    font-size: 20px;
    font-weight: 500;
}
.followingCount, .followersCount{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
}
.followingCount h4, .followersCount h4{
    color: #49545e;
    margin-top: -15px;
}
.bio{
    padding: 30px 20px;
    color: #648eb5;
    text-align: center;
}
.edit1, .edit2, .edit3{
    position: absolute;
    transform: translate(-22px, -4px);
    background: #fff;
    padding: 0 2px;
    border-radius: 19px;
    cursor: pointer;
    color: #000;
    box-shadow: 0px 0px 10px 3px #000000c5;
}
.edit2{
    transform: translate(45px, -80px);
}
.edit3{
    transform: translate(310px, 5px);
    padding: 2px;
    font-size: 25px;
    
}
.edit1 svg, .edit2 svg{
    font-size: 25px;
}
.edit1:hover, .edit2:hover, .edit3:hover{
    background: #000;
    color: #fff;
}
.removeImg1, .removeImg2{
    position: absolute;
    transform: translate(-655px, -5px);
    background: #fff;
    padding: 0;
    color: #000;
    box-shadow: 0px 0px 10px 3px #000000c5;
    border-radius: 21px;
    cursor: pointer;
    font-size: 29px;
}
.removeImg2{
    transform: translate(-50px, -80px)
}
.removeImg1:hover, .removeImg2:hover{
    background: #000;
    color: #fff;
}
.imgInput{
    display: none;
}
.form{
    position: absolute;
    background: rgba(0, 0, 0, 0.873);
    top: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 10px 135px;
    border: 1px solid rgb(85, 84, 84);
    box-shadow: 0px 6px 11px 0px #c2d5d554;
    border-radius: 10px;
    padding: 20px 40px;
    width: 300px;
    overflow: hidden;
}
.form input{
    width: 100%;
    height: 55px;
    border: none;
    outline: none;
    font-size: 20px;
    padding: 0 10px;
    margin: 10px 0;
    border-radius: 10px;
    background: transparent;
    border: 1px solid rgb(85, 84, 84);
    color: aliceblue;
    
}
.form input:focus{
    border: 1px solid rgb(0, 225, 255);
}
.buttons{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
.button {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    margin: 15px 90px;
    padding: 5px;
    background: rgb(0, 225, 255);
    transition: all 0.5s ease;
}
.button:nth-child(1){
    background: transparent;
}

.button:nth-child(2):after {
    content: '';
    position: absolute;
    width: 100%;
    height: 70px;
    top: -35%;
    left: 0%;
    z-index: -1;
    background: linear-gradient(#15ff00,#ff8000, transparent);
    clip-path: polygon(50% 50%, 0% 0%, 0% 100%);
    animation: rotateDiv 5s linear infinite;
}

@keyframes rotateDiv {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
.buttons button {
    border: none;
    outline: none;
    border-radius: 10px;
    font-size: 20px;
    padding: 5px 10px;
    background: rgb(0, 225, 255);
    color: black;
    cursor: pointer;
    width: 100%;
    transition: all 0.5s ease;
}
.button:nth-child(1) button{
    background: transparent;
    color: rgb(0, 225, 255);
}
.buttons .button:nth-child(1):hover, .buttons .button:nth-child(1) button:hover{
    color: rgb(0, 241, 221);
    background: transparent;
    scale: 1.2;
}
.form button{
    border: none;
    outline: none;
    border-radius: 10px;
    font-size: 20px;
    padding: 10px 10px;
    /* background: rgb(0, 225, 255); */
    background: transparent;
    /* color: black; */
    color: rgb(0, 225, 255);
    cursor: pointer;
    /* width: 100%; */
    width: fit-content;
    transition: all 0.5s ease;
}
.form button:hover{
    /* background: rgb(0, 241, 221); */
    color: rgb(0, 241, 221);
    scale: 1.2;
    cursor: pointer;
    transition: all 0.5s ease;
}

.button:hover button:not(:disabled), .button:not(:has(button:disabled)):hover {
    background: rgb(0, 241, 221);
    cursor: pointer;
    transition: all 0.5s ease;
}
.button button:disabled, .button:has(button:disabled){
    cursor:not-allowed;
}
.error {
    color: rgb(212, 0, 0) !important;
    font-size: 15px;
    margin: 0;
    margin-top: 5px;
    margin-bottom: 10px;
    text-align: center;
    padding: 10px 0;
}