.nav{
    position: sticky;
}

.nav_left{
    flex: 0.3;
    display: flex;
    align-items: flex-start;
    width: 100%;
}

.nav_left input{
    width: 250px;
    height: 45px;
    border-radius: 15px;
    border: none;
    padding: 0 20px;
    font-size: 1.2rem;
    /* background-color: #354f71a6; */
    background: #162c49a6;
    color: #cadbec;
}
input::placeholder{
    color: #60778f;
}

.nav_middle{
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav_middle svg{
    font-size: 1.8rem;
    margin: 0 20px;
    color: #54cccd;
    cursor: pointer;
}
.nav_right{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    margin-right: 35px;
    cursor: pointer;
}

.userName{
    background-color: #162c49a6;
    border-radius: 20px;
    display: flex;
    align-items: center;
    padding: 5px;
}
.userName span{
    font-size: 1.4rem;
    margin: 0 25px;
    color: #cadbec;
}
.userIcon{
    border-radius: 15px;
    object-fit: cover;
    height: 40px;
    width: auto;
    margin: 0;
}

.arrowIcon{
    font-size: 2rem;
    margin: 0 5px;
    color: #8c9aa8;
}
.menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #000;
    border-radius: 15px;
    position: absolute;
    top: 80px;
    right: 40px;
    overflow: hidden;
    box-shadow: 0px 6px 11px 0px #c2d5d554;
    border: 1px solid #c2d5d58c;
}
.menu_item{
    font-size: 1.3rem;
    font-family: OpenSans;
    color: #cadbec;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
    margin: 0;
    width: 250px;
    cursor: pointer;
    overflow: hidden;
    transition: 0.3s;
}
.menu_item:hover{
    background-color: #1d252fa6;
    color: #65ffff;
    scale: 1.1;
}